{% extends 'base.html' %}

{% block content %}
  <div class="container-flex">
    <h1>Создать рассылку</h1>

    <form action="#" method="post">
      <div class="form-group">
        <label for="text">Напишите текст для рассылки</label>
        <textarea class="form-control" id="text" rows="10" name="text" required></textarea>
      </div>
      <button
        onclick="return confirm('Вы уверены, что хотите отправить это сообщение? Отменить его не получится!');"
        type="submit" class="btn btn-custom-red mt-4 mb-4">Подтвердить
      </button>
      <a href="/users/me" class="btn btn-custom-black">Отмена</a>
    </form>
  </div>
{% endblock content %}
