<div>
    <h2>Мои автомобили</h2>
    {% if cars %}
    {% for car in cars %}
        <a href="/{{ user.id }}/car/{{ car.id }}" class="row gray-container">
        <div class="col text-left">
            <div class="icon-circle">
            <img src="{{ car.image }}" alt="{{ car.brand }} {{ car.model }}"/>
            </div>
        </div>
        <div class="col-8 text-left">
            <p class="top-text">{{ car.brand }} {{ car.model }}</p>
            <p class="low-text">{{ car.licence_plate_number }}</p>
        </div>
        <div class="col-1 text-end">
            <i class="bi bi-chevron-right"></i>
        </div>
        </a>
    {% endfor %}
    {% else %}
        <h2>Вы ещё не добавили ни одной машины</h2>
    {% endif %}
</div>
<div id="add-car-button">
    <p class="text-end">
    <a href="/{{ user.id }}/car/add"
        class="d-flex justify-content-center align-items-center col-1 btn btn-custom-black"><i
        class="bi bi-plus-circle-fill"></i> Добавить</a>
    </p>
</div>