{% extends 'base.html' %}

{% block content %}
<div class="container-flex">
  <h1>{{ point.name }}</h1>
  <div id="point-address">{{ point.address }}</div>
  <div class="text-center">
    <a href="tel:{{ point_phone_number }}"
       class="d-flex justify-content-center align-items-center col-1 btn btn-custom-blue"><i
      class="bi bi-telephone-outbound-fill"></i> {{ point_phone_number }}</a>
  </div>

  {% if point_service_categories %}
    {% for category in point_service_categories.keys() %}
      <div>
        <h2>{{ category }}</h2>
        <table class="table table-dark table-striped">
          <tbody>
            {% for service in point_service_categories[category] %}
              <tr>
                <td class="align-middle">{{ service.name }}<br><small>{{ service.description }}</small></td>
                <td class="text-end align-middle">{{ service.cost }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  {% else %}
    <h2>К данной точке ещё не прикреплено ни одной услуги!</h2>
  {% endif %}
 
  <div>
    <a href="/user/profile/{{ user.id }}" class="btn btn-custom-black">Назад</a>
  </div>
</div>
{% endblock content %}
