{% extends 'base.html' %}

{% block content %}
  <div class="container-flex">
    <h1>Добавить услугу</h1>

    <form action="#" method="post">

      <label for="name">Название услуги</label>
      <input type="text" class="form-control" id="name" name="name"
            required>
      <label for="descr">Описание услуги</label>
      <textarea class="form-control" id="descr" name="descr" rows="3" required
                ></textarea>
      <label for="cost">Минимальная стоимость</label>
      <input type="text" class="form-control" id="cost" name="cost"
            required>
      <label for="bonus">Процент бонусов</label>
      <input type="text" class="form-control" id="bonus" name="bonus"
            required value="10">
      <button type="submit" class="btn btn-custom-red mt-4 mb-4">Сохранить
      </button>
      <a href="/users/me" class="btn btn-custom-black">Отмена</a>
      {% include 'includes/errors.html' %}
    </form>
  </div>
{% endblock content %}