{% extends 'base.html' %}

{% block content %}
<div class="container-flex payment">
  <h1>Назначить администратором</h1>

  <form action="#" method="post">
    <div class="form-group">
      <h2>На какую точку?</h2>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="point" id="point-1" value="0" checked>
        <label class="form-check-label" for="point-1">
          Нет точки (разжаловать)
        </label>
      </div>
      {% if points %}
        {% for point in points %}
          <div class="form-check">
            <input class="form-check-input" type="radio" name="point" value="{{ point.id }}" id="{{ point.id }}">
            <label class="form-check-label" for="{{ point.id }}">
              {{ point.name }}
            </label>
          </div>
        {% endfor %}
      {% else %}
        <h2>Не удалось получить список точек - обновите страницу или обратитесь к администратору.</h2>
      {% endif %}
      {% if errors %}
        <ul class="errors">
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-custom-red mt-4 mb-4">Подтвердить
    </button>
    <a href="/users/me" class="btn btn-custom-black">Отмена</a>
  </form>
</div> 
{% endblock content %}

