{% extends 'base.html' %}

{% block content %}
<div class="container-flex">
  <h1>История платежей</h1>

  <div>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th class="align-middle" scope="col">Дата</th>
          <th class="text-end align-middle" scope="col">Платеж</th>
          <th class="text-end align-middle" scope="col">Бонусы</th>
        </tr>
      </thead>
      <tbody>
        {% if payments %}
          {% for payment in payments %}
          <tr>
            <td class="align-middle">{{ payment.date }}</td>
            <td class="text-end align-middle">{{ payment.amount }}</td>
            <td class="text-end align-middle text-danger">{{ payment.bonus_changes }}</td>
          </tr>
          {% endfor %}
        {% else %}
          <td class="align-middle">Вам ещё не оказывались никакие услуги</td>          
        {% endif %}
      </tbody>
    </table>
  </div>
  <div>
    <a href="/user/profile/{{ user.id }}" class="btn btn-custom-black">Назад</a>
  </div>
</div>
{% endblock content %}
