{% extends 'base.html' %}

{% block content %}
<div class="container-flex profile">
  <div class="row" id="profile-header">
    <div class="col">
      <p class="text-start">профиль</p>
    </div>
    <div class="col">
      <p class="text-end">{{ user.phone }}</p>
    </div>
  </div>
  <h1>{{ user.surname }} {{ user.name }} {{ user.patronymic }}</h1>
  <div class="row" id="profile-description">
    <div class="col">
      <p class="text-start" id="birthday"></p>
    </div>
    <div class="col">
      <p class="text-end">
        <a href="profile-edit.html"
           class="btn btn-custom-red">изменить профиль</a>
      </p>
    </div>
  </div>
  <a href="payment-history.html" class="row gray-container">
    <div class="col text-start">
      <p class="top-text">{{ user.bonus }}</p>
      <p class="low-text">бонусов</p>
    </div>
    <div class="col text-end">
      <i class="bi bi-chevron-right"></i>
    </div>
  </a>
  <div id="qr-code-button">
    <button onclick="generateQR('{{ user.phone }}')" href="#"
       class="d-flex justify-content-center align-items-center col-1 btn btn-custom-yellow"><i
      class="bi bi-qr-code"></i> ПОКАЗАТЬ QR КОД</button>
  </div>
  <div onclick="hideQRCode()" id="qrcode"></div>
  <div>
    <h2>Мои автомобили</h2>
    {% if cars %}
      {% for car in cars %}
        <a href="/edit-car" class="row gray-container">
          <div class="col text-left">
            <div class="icon-circle">
              <img src="{{ car.image }}" alt="{{ car.brand }} {{ car.model }}"/>
            </div>
          </div>
          <div class="col-8 text-left">
            <p class="top-text">{{ car.brand }} {{ car.model }}</p>
            <p class="low-text">{{ car.licence_plate_number }}</p>
          </div>
          <div class="col-1 text-end">
            <i class="bi bi-chevron-right"></i>
          </div>
        </a>
      {% endfor %}
    {% else %}
        <h2>Вы ещё не добавили ни одной машины</h2>
    {% endif %}
  </div>
</div>
{% endblock content %}