{% extends 'base.html' %}

{% block content %}
  <div class="container-flex">
    <h1>Изменить точку</h1>

    <form action="#" method="post">
      <div class="form-group">
        <input type="text" class="form-control" id="name" name="name"
              placeholder="НАЗВАНИЕ ТОЧКИ" required value="{{ point.name }}">
        <input type="text" class="form-control" id="address" name="address"
              placeholder="АДРЕС" value="{{ point.address }}" required>
      </div>
      <button type="submit" class="btn btn-custom-red mt-4 mb-4">Сохранить
      </button>
      <a
        onclick="return confirm('Вы действительно хотите удалить эту точку?');"
        href="/users/me" class="btn btn-custom-black">Удалить</a>
      <a href="/points/{{ point.id }}" class="btn btn-custom-black">Отмена</a>
    </form>
  </div>
{% endblock content %}