{% extends 'base.html' %}

{% block content %}
<div class="container-flex">
    <h1>Регистрация</h1>

    <form action="/registration" method="post">
      <div class="form-group">
        {% if from_admin or from_superadmin %}
          <input type="tel" class="form-control" id="phone"
            placeholder="+7 XXX XXX XX XX" name="phone" required>
        {% endif %}
        <input type="text" class="form-control" id="surname" name="surname"
               placeholder="ФАМИЛИЯ" required>
        <input type="text" class="form-control" id="name" name="name"
               placeholder="ИМЯ" required>
        <input type="text" class="form-control" id="patronymic" name="patronymic"
               placeholder="ОТЧЕСТВО">
        <input placeholder="ДАТА РОЖДЕНИЯ" type="text" class="form-control"
               id="date_birth" name="date_birth"
               onfocus="(this.type='date')"
               onblur="if(this.value==''){this.type='text'}" required>
      </div>
        {% if errors %}
          <ul class="errors">
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      <button type="submit" class="btn btn-custom-red mt-4 mb-4">Продолжить
      </button>
      <a href="/users/me" class="btn btn-custom-black">Отмена</a>
    </form>
</div>
{% endblock content %}